.container .background-image img{
    width: 100%;
    float: left;
  
}

.container .social-media {
    background-color:66841b ;
    font-size: 20px;
    position: absolute;
    color: #fff;
    
}

.container .social-media {
    width: 100%;
    float: left;
    background-color: #6b8920;
    opacity: 0.9;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .social-media i{
    padding:15px;
  

}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    bottom: 502px; 
    padding:10px;
    width: 100%;

}

.navbar.navbar-expand-lg.navbar-light.bg-light li{
    left:50px;
}
.logo-header{
    position: absolute;
    left:150px;
}

.container-fluid .navbar-brand{
    left: 30px;
    
}

.navbar {
    padding: 0.4em 400px !important;
  }

.navbar-nav > li{
    padding-left:15px;
    padding-right:10px;
  }